.form-control
{
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
    margin-top: 15px;
}
.search-icon
{
    position: absolute;
    z-index:10 ;
    right: 38% ;
    top: 43px;
    color: green;
}
#cartbutton
{
    padding-bottom: 0px;
    padding-left: 20px;
    border-top: 10px;
    border-bottom: 0px;
    border-left: 10px;
}
.login
{
    padding-left: 10px;
}
.about
{
    padding-left: 10px;
}
.admin
{
    padding-left: 10px;
}
#userlogin,#adminlogin {
    border-radius: 4px;

    border: none;
    color: #FFFFFF;
    text-align: center;
   
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
  }
  
  #userlogin span ,#adminlogin span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  #userlogin span:after, #adminlogin span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
#userlogin:hover span,#adminlogin:hover span {
    padding-right: 25px;
  }
  
  #userlogin:hover span:after, #adminlogin:hover span:after {
    opacity: 1;
    right: 0;
  }