<div class="card-top container-fluid">
    <div class="container d-flex">
    <div class="item">
          <a (click)="filter('')"><img src="assets/cart/allproducts.jpg">
               <h6>All products</h6>
          </a>
    </div>
    <div class="item">
        <a (click)="filter('fashion')"><img src="assets/cart/fashion.jpg">
            <h6>Fasion</h6>
       </a>
        
    </div>
    <div class="item">
        <a (click)="filter('jewelery')"><img src="assets/cart/jwellery.jpg">
            <h6>Jwellery</h6>
       </a>
        
     </div>
    <div class="item">
        <a (click)="filter('electronics')"><img src="assets/cart/ele.jpg">
            <h6>Electronics</h6>
       </a>
        
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter : searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width: 50ch ;">{{item.title}}</h5>
                <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width: 50ch ;">{{item.description}}</p>
                <p><strong>Price:</strong>${{item.price}}</p>
                <button class="btn btn-success" (click)=addtocart(item)>ADD TO CART</button>
            </div>
        </ng-container>
     
    </div>
</div>